/*RESET*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}
.App {
	height: 100vh;
}

.App-logo {
	height: 70vmin;
	position: absolute;
	top: -200px;
	left: -160px;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-image: url("./assets/images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	min-height: 100vh;
	font-size: calc(10px + 2vmin);
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.main {
	background-color: rgba(255, 255, 255, 0.2);
	position: relative;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	align-items: center;
	top: 55px;
	justify-content: center;
	width: 980px;
	height: 480px;
	border-radius: 30px;
	box-shadow: 0px 0px 10px silver;
}

.main-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	color: #365a7a;
	font-size: 64px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.search-input {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
	position: relative;
	top: -80px;
	border-radius: 20px;
}

.search-items {
	padding: 10px 10px 10px 20px;
	width: 600px;
	border-radius: 20px;
	border: 2px solid black;
	font-size: 20px;
	transition: all 0.5s ease-out 0s;
}

.title:before {
	content: "";
	background: url("./assets/images/02d.svg");
	background-size: 100%;
	background-repeat: no-repeat;
	width: 250px;
	height: 250px;
	display: block;
}

.search-icon {
	position: absolute;
	right: 20px;
	top: 12px;
	font-size: 23px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.today-weather {
	display: flex;
	align-items: center;
	gap: 20px;
}

.today-weather > img {
	width: 200px;
}

.today {
	color: black;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.weather-list {
	width: 850px;
	position: relative;
	top: 70px;
	justify-content: space-around;
	align-items: center;
}

.weather-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 180px;
	height: 180px;
	border-radius: 30px;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	padding: 10px;
	color: black;
}

.search-transition {
	position: relative;
	top: -450px;
	left: 0px;
	border-radius: 20px;
}

.weekday-list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	margin-top: 50px;
	position: relative;
	top: -150px;
}

.WeatherIcon {
	width: 100px;
}
